body {
    background: #4d4d4d;
    opacity: 0.8;
}
 /* menu bar window */
aside{
    float: left;
    background: #b8b894;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid white;
}
 /* image logo svg */
aside img{
    width: 50px;
    height: 50px;
    float: left;
}
 /* text logo */
aside .logo{
    font-size: 20px;
    margin-left: 10px;
    font-weight-bold;
    position: relative;
    top: 5px;
}
 /* navigation title */
aside h3{
    margin-top: 50px;
    font-size: 25px;
}
 /* off list display */
aside ul{list-style: none}

 /* navigation categories */
aside ul li{
    color:white;
    display: block;
    margin-top: 20px;
    font-size: 20px;
    transition: transform .6s;
}
 /* motion when click on menu */
aside ul li:hover{
    color: #002233;
    text-decoration: none;
     /* zoom when select category */
    transform: scale(1.1);
}

main .features {
    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1{ font-size: 50px}
main .features p{max-width: 400px; margin: 20px auto;}

.alert-warning{
    float:left;
    width: 300px;
    margin: 20px;
    text-align: center;
}